#root {
  padding: 2rem;
}

.headerRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.header {
  margin: 0;
  text-align: center;
  flex: 1;

  font-size: 35px;
  color: #E0218A;
}

.reset {
  margin: 0;
  padding: 0.5rem 1rem;

  font-size: 25px;
  color: #E0218A;
  border: 4px solid #E0218A;
}
